
*.pyc

*.msh

*.geo

*.bak

docs/build
docs/pycalfem

venv-calfem

.spyproject/

calfem/shapes - kopia.py

calfem_python.egg-info/*
calfem_python_small.egg-info/*

.vscode/launch.json
*.project
.pydevproject
*.prefs
calfem-python.pyproj
*.suo
calfem-python.sln
build/
calfem_python.egg-info/
dist/
*.xml
*.iml
.idea/
.vscode/settings.json
examples/.ipynb_checkpoints/*
# .vscode/settings.json
calfem/.ipynb_checkpoints/*
exm6.vtk

# new notebook examples
docs/source/examples/.ipynb_checkpoints/
.DS_Store
