
*.pyc

*.msh

*.geo

docs/build
calfem/shapes - kopia.py

.vscode/launch.json
*.project
.pydevproject
*.prefs
calfem-python.pyproj
*.suo
calfem-python.sln
build/
calfem_python.egg-info/
dist/
.idea/
